.comics-list-container {
    margin-top: 20px;
  }
  
  .comics-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Ajusta el tamaño de las columnas */
    grid-gap: 10px; /* Ajusta el espacio entre los elementos */
  }
  
  .comics-list .card {
    height: 100%; /* Ajusta la altura de las tarjetas */
  }
   .bg-image{
    background: black;
   }