.comics-list-container {
    margin-top: 20px;
  }
  
  .comics-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
    grid-gap: 10px; 
  }
  
  .comics-list .card {
    height: 100%; 
  }
   .bg-image{
    background: red;
   }