
.Navbar Nav  ::before{
    content:"" ;
    height: 3px;
    width: 0%;
    background: rgb(205, 50, 140);
    position: absolute;
    left: 0;
    bottom: -12px;
    transition: 0.3s ease-out;
}

.navbar ul li :hover::before {
    width: 100%;
}

